.table {
    color: #000000;
    width: 40%;
    aspect-ratio: 1 / 1;
    border: 2px solid;
    margin: 0;
    cursor:pointer;
    box-sizing: border-box;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "A . C"
    ". E ."
    "B . D";
    padding: 1em;
}

.counter {
    color: black;
    font-size: 4rem;
}

.circle {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    transition: transform 500ms;
}

.circle1 {
    background: #f39090;
    grid-area: A;
}

.circle2 {
    background: #f39090;
    grid-area: B;
    margin-top: auto;
}

.circle3 {
    background: #f39090;
    grid-area: C;
    margin-left: auto;
}

.circle4 {
    background: #f39090;
    grid-area: D;
    margin-left: auto;
    margin-top: auto;
}

.button {
    background: #8a6f6f;
    grid-area: E;
    margin: auto;
    text-align: center;
    position: relative;
}

.spin {
    animation:rotate 2s  infinite;
    animation-timing-function: cubic-bezier(1,0,.5,1);
}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0deg) }
    to { -webkit-transform: rotate(3600deg) }
}

.flipped {
    background: #66040f;
    transform: rotateY(180deg);
}